.add-page__title {
    font-size: 2rem;
    margin: 40px 0 20px;
    text-align: center;
}

.add-meal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.add-meal__form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

.add-meal__form textarea {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 150px;
}

.add-meal__form input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-meal__form button {
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #f1356d;
  color: white;
  cursor: pointer;
}

.add-meal__form button:hover {
  background-color: #f1356d;
}

.add-meal__dropzone {
  border: 1px dashed #ccc;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.add-meal__tags {
  width: 50%;
  color: #333;
}

.add-meal__dropzone p {
  margin-top: 0;
}