.searchBox {
    border: rgba(255, 255, 255, 0.8) solid 1px;
    border-radius: 40px;
    padding: 2px;
    margin: 0 15px;
}

.searchBox:hover > .searchInput,
.searchBox:focus-within > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchButton {
    color: rgba(255, 255, 255, 0.8);
    float: right;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s !important;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    font-size: 16px;
    transition: 0.7s !important;
    line-height: 30px !important;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.search_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search_examples {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background: #fff;
    color: #000;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    width: 310px;
}

.meal-entry {
    cursor: pointer;
}