.hero {
    max-width: 100%;
    border-radius: 20px;
}

.categories-page__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}