.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.header__container {
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 32px;
}

.header__logo img {
    margin-right: 15px;
}

.header__nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav li {
    margin: 0 10px;
}