.footer {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
    background-color: #15191E;
    width: 100%;
}

.footer__container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    background-color: #15191E;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    margin-right: auto;
}

.footer__logo img {
    margin-right: 15px;
    width: 50px;
}

.footer__nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    gap: .5rem;
}

.footer__nav li {
    margin: 0 15px;
}

.footer__nav a {
    font-weight: 500;
    font-size: 14px;
}

.footer__copy {
    text-align: center;
    margin-bottom: 15px;
}